version: '3.8'

services:
  nextjs:
    env_file:
      - .env.local
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next

    command: npm run dev
